body {
    font-family: Arial, sans-serif;
    background-color: #fed0f6;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #fc1db265;
    margin-bottom: 25px;
}


.container {
 display: flex;
 align-items: center;
 flex-direction: column;
 justify-content: space-around;
 align-content: space-between;
 height: 500px;
}


.item {
    background-color: #ffffff;
    border: 2px solid #e4baee;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 6px rgba(252, 219, 245, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    max-width: 400px;
}

.item:hover {
    transform: translateY(-4px);
    box-shadow: 3px 3px 10px rgba(247, 193, 226, 0.15);
}

h2 {
    color: #fbb2df;
    margin-bottom: 8px;
    font-size: 1.3em;
    text-align: center;
}

p {
    color: #333;
    font-size: 0.95em;
    text-align: justify;
}


pre {
    background-color: #f8c2e1;
    border-left: 4px solid #f250d7;
    padding: 8px;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 0.9em;
}

code {
    color: #1a1a1a;
    font-family: Consolas, monospace;
}
