body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fdc3fc;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.botones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

button {
    padding: 10px 15px;
    border-radius: 2 px;
    background-color: #fd8fe0;
    color: white;

    
}

button {
    background-color: #fc7ded;

}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.lista {
    display: contents;
}

#control1, #control2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}





